.slide-appear,
.slide-enter {
  z-index: 1;
  opacity: 0.9;
  /* transform: scale(1.1); */
  transform: translate3d(100%, 0, 0);
}
.slide-appear-active,
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 500ms;
}

.slide-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slide-exit.slide-exit-active {
  opacity: 0.9;
  transition: all 700ms;
}
